{% extends 'base.html.twig' %}

{% block title %}Nouvelle Saison{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Saison</h1>

    <div class="container">

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}"><button class="btn btn-secondary">Retour à la liste</button></a>
    </div>
{% endblock %}
